section.user-home {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  .section-content.user-home {
    padding: 80px 10px;

    width: 97%;
    display: grid;
    grid-template-columns: repeat(2, 8% 92%);
    gap: $gap-1;

    .user-info,
    .dashboard-center,
    .dados-dashboard {
      margin-top: 5px;
      height: 100%;
      position: relative;

      .content {
        height: 100%;
        padding: 30px $padding-3;
        box-shadow: $box-shadow-2;
      }
    }

    .user-info {

      position: fixed;
      z-index: 3;
      background: $white-color;
      
      .content {
        display: flex;
        flex-direction: column;
        gap: $gap-4;

        .userCard {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          .img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .nome {
            font-size: 1.2rem;
            font-weight: 600;
            &::first-letter {
              text-transform: uppercase;
            }
          }
        }

        .choices {
          display: flex;
          flex-direction: column;
          gap: $gap-2;

          .choice {
            height: max-content;
            box-shadow: $box-shadow-borda;
            padding: 20px;
            font-family: $font-family-3;
            display: flex;
            flex-direction: row;
            gap: $gap-1;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            font-weight: 700;
            cursor: pointer;
            border-radius: 10px;

            &:hover {
              box-shadow: $box-shadow-card-hover;
            }

            &.ativado {
              box-shadow: $box-shadow-card-hover;
            }
          }
        }
      }
    }

   

    .dashboard-center {
      width: 90vw;
      padding-left: 130px;
      .content.inicio {
        display: flex;
        flex-direction: column;

        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .title {
            font-weight: 800;
            font-size: 1.6rem;
            font-family: $font-family-3;
          }

          .actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            button {
              border: none;
              background: $white-color-2;
              box-shadow: $box-shadow-2;
              font-weight: 800;
              width: 50px;
              height: 50px;
              border-radius: 5px;
              cursor: pointer;
            }

            .nova-consulta {
              background: $grey-color;
              height: 50px;
              border-radius: 5px;
              display: flex;
              padding: 0 15px;
              align-items: center;
              gap: 5px;
              font-family: $font-family-3;
              font-weight: 600;
              font-size: 1.2rem;
              color: $white-color;
              cursor: pointer;
            }
          }
        }

        .middle {
          margin-top: 40px;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 20px;

          .middle-doencas,
          .middle-historicos,
          .middle-medicos {
            border-radius: 10px;
            padding: 30px 15px;
            box-shadow: $box-shadow-4;
            gap: 45px;

            .title {
              position: relative;
              font-size: 1rem;
              font-weight: 600;
              font-family: $font-family-4;

              &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background: rgb(174, 174, 174);
                bottom: -15px;
                left: 0;
              }
            }

            .cards-content {
              .card {
                height: 100%;
                width: 100%;
                box-shadow: $box-shadow-2;
                border-radius: 5px;
                .card-content {
                  padding: 10px;
                }

                &:hover {
                  cursor: pointer;
                  transition: 0.2s;
                  box-shadow: $box-shadow-card-hover;
                }
              }
            }
          }

          .swiper{
            width: 100%!important;
            height: 100%!important;
          }

          .swiper .card{
            width: 100%;
            height: 100%;
            cursor: pointer;
          }

          .middle-doencas,
          .middle-historicos {
            height: 225px;
          }

          .middle-doencas {
            display: flex;
            flex-direction: column;

            .cards-content {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 20px;
              height: 100%;
              width: 100%;
            }

            .card-content {
              padding: 0 !important;
              position: relative;
              width: 100%;
              height: 100%;

              .img-doenca {
                width: 100%;
                height: 100%;
                position: absolute;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px;
                }
              }

              .nome-doenca {
                position: absolute;
                bottom: 10px;
                color: white;
                z-index: 4;
                font-family: $font-family-4;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .infos {
                  font-size: 0.8rem;
                  color: $white-color-2;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2; /* start showing ellipsis when 3rd line is reached */
                  white-space: pre-wrap;
                  overflow: hidden;
                }
              }

              &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                background: linear-gradient(
                  to top,
                  rgba(0, 0, 0, 0.818) 0%,
                  transparent 80%
                );
                border-radius: 5px;

                z-index: 2;
              }
            }
          }

          .middle-historicos {
            position: relative;
            display: flex;
            flex-direction: column;

            .cards-content {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 20px;
              height: 100%;
              width: 100%;
            }
          }

          .middle-medicos {
            display: flex;
            flex-direction: column;

            .cards-content {
              display: flex;
              flex-direction: column;
              gap: 20px;

              .card {
                width: 100%;
                height: 150px;
                box-shadow: $box-shadow-2;

                .card-content {
                  width: 100%;
                  padding: 15px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 30px;
                  position: relative;

                  .img-doctor {
                    width: 150px;
                    height: 120px;

                    img {
                      width: 100%;
                      height: 100%;
                      border-radius: 10px;
                      object-fit: fill;
                    }
                  }

                  .infos {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .nome-doctor {
                      font-size: 1.3rem;
                      font-weight: 600;
                      font-family: $font-family-4;
                    }

                    .infos-doctor {
                      font-size: 0.9rem;
                      font-weight: 400;
                      font-family: $font-family-4;
                    }
                  }

                  .action {
                    position: absolute;
                    right: 45px;

                    button {
                      border: none;
                      box-shadow: $box-shadow-2;
                      border-radius: 5px;
                      padding: 15px;
                      cursor: pointer;
                      font-family: $font-family-4;
                      font-weight: 600;
                      background: $secondary-color-2;
                      color: $white-color;

                      &:hover {
                        transition: 0.2s;
                        background: $primary-color-2;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .swiper-button-next, .swiper-button-prev{
      display: none;
    }

    .swiper .swiper-pagination-bullet:not(.active){
      background: white!important;
    }

    .dados-dashboard {
    }
  }
}
